.not-found {
  width: 100%;
  padding: 20px 0px;
  font-size: x-large;
  background-color: var(--color5);
  text-align: left;
}

.here-backhome {
  color: blueviolet;
	text-decoration: navajowhite;
}

.here-backhome:visited {
  color: blueviolet;
}
